# APPLICATION INFO
APPLICATION_ID=<application_id_from_tts>

# MQTT CREDENTIALS
MQTT_PASSWORD=<mqtt_token_from_tts>
MQTT_USERNAME=<mqtt_username_from_tts> # Usually same as application id
MQTT_HOST=<mqtt_host> # IP or hostname of the MQTT endpoint (TTS)
MQTT_PORT=<mqtt_endpointport> # default: 1883
MQTT_BASE_TOPIC=v3/${APPLICATION_ID}/devices/
MQTT_UPLINK_TOPIC=${MQTT_BASE_TOPIC}+/up
MQTT_OTAA_TOPIC=${MQTT_BASE_TOPIC}+/join

# DASHBOARD SECTION
# DASHBOARD_RPC_HOST=147.163.12.129
DASHBOARD_RPC_HOST=<rpc-dashboard-endpoint-address>
DASHBOARD_RPC_PORT=<rpc-dashboard-endpoint-port>

# RPC
RPC_PORT = <rpc_endpoint_port> # default: 18861  