# APPLICATION INFO
APPLICATION_ID=<application_id_from_tts>

# MQTT CREDENTIALS
MQTT_PASSWORD=<mqtt_token_from_tts>
MQTT_USERNAME=<mqtt_username_from_tts> # Usually same as application id
MQTT_HOST=<mqtt_host> # IP or hostname of the MQTT endpoint (TTS)
MQTT_PORT=<mqtt_endpointport> # default: 1883
MQTT_BASE_TOPIC=v3/${APPLICATION_ID}/devices/
MQTT_UPLINK_TOPIC=${MQTT_BASE_TOPIC}+/up
MQTT_OTAA_TOPIC=${MQTT_BASE_TOPIC}+/join

# DASHBOARD SECTION
# DASHBOARD_RPC_HOST=147.163.12.129
DASHBOARD_RPC_HOST=<rpc-dashboard-endpoint-address>
DASHBOARD_RPC_PORT=<rpc-dashboard-endpoint-port>

# RPC
RPC_SERVER_PORT=<rpc_endpoint_port> # default: 50051

# MONGO DB
MONGO_HOST=<mongo_db_endpoint_address>
MONGO_PORT=<mongo_db_endpoint_port> # default: 27017
MONGO_DB_NAME=<mongo_db_name> # default: experiments_db

# DEVICE LIST FILE
DEVICE_LIST_FILE=<path_to_device_json_file>

# GW SHUT
# @note: gw2 will be disabled after receiving half of the total packets of the experiment
GW_SHUT=<enable_gw_shut> # 1 enabled, disabled otherwise
DEVICE_NUMBER=<number_of_devices>
PACKET_NUMBER=<number_of_packet_per_device>
PACKET_DIVISOR=4

# DEFAULT AGGREGATION WINDOWS SIZE 
DEFAULT_AGGR_WINDOWS_SIZE=10